.sepecfic-container {
  max-width: 600px;
}

.recipe-name {
  grid-area: 1 / 1 / 2 / 4;
  margin-bottom: 0.5rem;
}
.recipe-cuisine {
  grid-area: 2 / 1 / 3 / 2;
}
.recipe-complex {
  grid-area: 3 / 1 / 4 / 2;
}
.recipe-prep-time {
  grid-area: 2 / 2 / 3 / 3;
}
.recipe-cook-time {
  grid-area: 3 / 2 / 4 / 3;
}

.specific-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  margin-bottom: 0.75rem;
}
.specific-details li:not(:first-child) {
  text-align: left;
}
.specific-details li {
  margin: 0.5rem;
}

.ing-container,
.instr-container,
.specific-details {
  margin: 0 auto;
  margin-bottom: 0.75rem;
  max-width: 80vw;
  width: fit-content;
  min-width: 350px;
}

.ing-container,
.instr-container {
  padding: 0.5rem;
}

.specific-ing-header {
  margin-bottom: 0.5rem;
}

.specific-ing-list {
  table-layout: fixed;
}
.specific-ing-item {
  margin-bottom: 0.25rem;
}
.specific-ing-list:nth-child(4n) {
  flex-basis: 100%;
}

.instr-container {
  margin-bottom: 1.5rem;
}
.specific-instrc-header {
  margin-bottom: 0.5rem;
}

.specific-instrc-list {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}
.specific-instrc-list :not(:last-child):after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5rem;
  padding-top: 1rem;
  border-bottom: 1px solid #81a1c1;
}
.specific-instrc-item {
  margin: 0.4rem;
  max-width: 50rem;
}

.specific-ing-item {
  text-align: center;
  padding: 15px;
  border: 1px solid #81a1c1;
  width: 20rem;
}
